.texto-menor{
    font-size: 13px;
}

.div-novidades{
    width: 325px;
}

.divs-facilidades{
    width: 325px;
}

.cor-icone{
    color: #DAFF01;
}

.btn.botao-lilas{
    background-color: #9353FF;
}

.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .div-novidades{
        width: 696px;
    }
    .posicao{
        top: 60%;
    }
}